* {
    padding: 0;
    margin: 0;
    color: rgb(94, 91, 91);
}

.container{
width: 100%;
height: fit-content;
    display: grid;
    grid-template-rows: repeat(20vh, 1fr);
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    background-color: rgb(207, 138, 28);
    margin-bottom: 2vh;
}

.head {
    background-color: #c35656; /* Optional: Add background color for visualization */
    padding: 20px; /* Optional: Adjust padding as needed */
    text-align: center; /* Optional: Adjust text alignment as needed */
    margin-bottom: 2vh;
    height: fit-content;
    grid-column-start: 1;
    grid-column-end: -1;
}

.box_A,
.box_B,
.box_C,
.box_D {
    max-width: fit-content;
    background-color: rgb(108, 101, 101);
    margin: 2vh 0;
    border-radius: 10px;
}

.box1,
.box2,
.box3,
.box4 {
    height: 300px; /* Change this height to be equal to the width */
    width: 300px;
    overflow: hidden;
    margin: 1vh 0.5vw;
    border-radius: 2vh;
}

.box1 {
    background-color: aqua;
}

.box2 {
    background-color: rgb(0, 0, 179);
}

.box3 {
    background-color: rgb(204, 0, 255);
}

.box4 {
    background-color: chartreuse;
}


@media screen and (max-width: 1200px) {
    .container {
        background-color: rgb(88, 13, 154);
        grid-template-columns: repeat(3, 1fr);
   
    }
} 

@media screen and (max-width: 1000px) {
    .container {
        background-color: black;
        grid-template-columns: repeat(2, 1fr);
   
        
    }
} 


@media screen and (max-width: 690px) {
    .container {
        background-color: rgb(197, 17, 17);
        grid-template-columns: repeat(1, 1fr);
   
    }
} 

